@import "../../node_modules/bulma/bulma";

*{
    box-sizing: border-box;
}

body,
html{
    background: #ccc;
}

#seeds {
    li {
        display: inline-block;
    }
}

body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    overflow: hidden;

    > form{
        flex: 0;
        text-align: center;
    }

    > #canvas {
        flex: 1;
        justify-content: center;
        align-items: center;
        display: flex;
    }
}
